/* .uenglish-name, .uenglish-level{
	display: none;
} */
span.upload-help-test {
  font-size: 11px;
  color: red;
}
.stupload-form .summery-title-content {
  width: 80%;
  overflow: hidden;
  padding-bottom: 10px;
}
.stupload-form .summery-title-content span.left {
  width: 30%;
  float: left;
  font-weight: bold;
  padding: 5px 0;
}
.stupload-form .summery-title-content span.right {
  width: 70%;
  float: left;
  padding: 5px 0;
}
.stupload-form .summery {
  width: 100%;
  overflow: hidden;
}
.stupload-form .summery p.summery-title {
  font-weight: bold;
}
.stupload-form .summery .left-content {
  width: 40%;
  float: left;
}
.stupload-form .summery .right-content {
  width: 60%;
  float: left;
}
.stupload-form .summery .summery-script {
  float: left;
  width: 100%;
}
